body {
	background: url('../images/Sternrekorder.jpg');
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
}

#background {
	background: url('../images/MIDI-body.png') no-repeat center;
	width: 940px;
	height: 738px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -369px;
	margin-left: -470px;
}

#container {
	width: 800px;
	height: 600px;
	color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
}

#header {
	background: url('../images/top-header.png') no-repeat center;
	height: 100px;
}

#header img {
	padding: 20px;
}

#left-column {
	float: left;
	width: 350px;
	min-height: 500px;
}

#left-column #selector {
	min-height: 300px;
}

#left-column #vis {
	background-color: #47abff;
	min-height: 200px;
}

#right-column {
	float: right;
	width: 450px;
	min-height: 500px;
}

#right-column #pads {
	background-color: #27983a;
	min-height: 450px;
}

#right-column #player {
	background-color: #c9d69c;
	min-height: 50px;
}

#header, #left-column > div, #right-column > div {
	overflow: hidden;
}

img.section-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

