@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
	background: url('../images/Sternrekorder.jpg');
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size: 80%
}

p {
	margin: 0;
	padding: 0;
}

#background {
	background: url('../images/MIDI-body.png') no-repeat center;
	width: 940px;
	height: 738px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -369px;
	margin-left: -470px;
}

#container {
	width: 800px;
	height: 600px;
	color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
}

#header {
	background: url('../images/top-header.png') no-repeat center top;
	height: 110px;
}

#header img {
	padding: 20px;
}

#left-column {
	float: left;
	width: 350px;
	min-height: 490px;
}

#left-column #vis {
	min-height: 250px;
}

#vis-container {
	margin-left: 11px;
	margin-top: 10px;
	width: 330px;
	height: 226px;
	background: url('../images/visualiser-window.png');
}

#vis-container canvas {
	background-color: #000;
	margin: 8px 10px;
}

#left-column #selector {
	min-height: 240px;
}

#right-column {
	float: right;
	width: 450px;
	min-height: 490px;
}

#right-column #pads {
	/* background-color: #27983a; */
	min-height: 440px;
}

#right-column #player {
	/* background-color: #c9d69c; */
	min-height: 50px;
}

#header, #left-column > div, #right-column > div {
	overflow: hidden;
}

img.section-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#pads ul {
	list-style-type: none;
	margin: 10px 0 0 18px;
	padding: 0;
}

#pads ul li {
	display: inline;
}

/* toggle code from: http://jsfiddle.net/davidelrizzo/DYJkG/ */
#selector-window {
	margin-left: 11px;
	margin-top: 10px;
	width: 330px;
	height: 226px;
	background: url('../images/settings-window.png');
}

.selector-container {
	float: left;
	margin: 10px 5px;
}

.selector-container div, .selector-container input, .selector-container label {
    width:150px;
    height:32px;
}

.selector-container div {
	position: relative;
	margin: 5px 2px;
	overflow: hidden;
}

.selector-container div label {
    background: url('../images/setting-button-off.png');
	position:absolute;
    z-index:0;
    padding:0;
    text-align:left;
	padding-left:25px;
	line-height:2.5em;
}

.selector-container div input {
	position:absolute;
    z-index:1;
    cursor:pointer;
    opacity:0;
}

.selector-container div input:checked + label {
    background: url('../images/setting-button-on.png');
}

.selector-container p {
	text-align: center;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}

.selector-container span {
	font-size: 0.85em;
	text-align: right;
	position: relative;
	top: 14px;
	left: 136px;
}


/* skip (inspired by okcupid iphone interface)
*******************************************************************************/
button.skip {
  background-color: #ccc;
  border: 1px solid #424242;
  border-bottom: 1px solid #515151;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #ccc;
  box-shadow: inset 0 1px 0 0 #ccc;
  color: #000;
  font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0 8px 0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  /* text-shadow: 0 -1px 1px #000f4d; */
  width: 94px;
  min-height: 93px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease; }
  button.skip:hover, button.active {
    background-color: #ff494a;
    cursor: pointer; }
  button.skip:active, button.active {
    background-color: #ff494a;
	-webkit-box-shadow: inset 0 0 20px 0 #424242, 0 1px 0 #a2a2a2;
    box-shadow: inset 0 0 20px 0 #424242, 0 1px 0 #a2a2a2; }
	